body 
{ 
    background-color: silver; 
}

p 
{ 
    color: black;
} 

label {
    
    width: 15m;
    padding-right: 1m;

table
{
	border="1px" border: 3px solid purple;
}

.value
{
	background-color: orange;
}
table, th, td {
  border: 1px solid;
}

.myDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
}

