body 
{ 
    background-image: url(grass.gif); background-size: 100%; 
    background-repeat: no-repeat; background-attachment: fixed; }
p 
{ 
    background-color: white; color: black; 
    font-family: 'Times New Roman', Times, serif font-size: 22pt; 
} 

p.walter 
{ 
    color: white; 
    background-color: black; 
} 

a 
{ 
    background-color: blue; 
    color: red; 
} 
 
a:hover 
{ 
    background-color: red; 
    color: blue 
} 